<!DOCTYPE html>
<html>
  <head>
    <title>My Personal Details</title>
    <link rel="stylesheet" href="../personal/personal.css">
    <link rel="stylesheet" href="../homepage/style.css">

  </head>
  <body>
    <div class="goback"><a href="dashboard.html"><i class="fa fa-arrow-left"></i> Go Back To Dashboard</div></a>
    <div class="container">
      <h1>My Personal Details</h1>
      <img src="myphoto.jpg" alt="My Photo">
      <h2>Name:</h2>
      <p>John Doe</p>
      <h2>Email:</h2>
      <p>johndoe@example.com</p>
      <h2>Location:</h2>
      <p>123 Main St, Anytown, USA</p>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/60ff8d7e29.js" crossorigin="anonymous"></script>
</html>
