<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="prefstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="text">
                <h1>Enter you preferences</h1>
             </div>
             <form>
                 <div class="mb-3">
                   <label for="exampleInputEmail1" class="form-label">source</label>
                   <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                 </div>
                 <div class="mb-3">
                   <label for="exampleInputPassword1" class="form-label">destination</label>
                   <input type="text" class="form-control" id="exampleInputPassword1">
                 </div>
                 <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">date</label>
                     <input type="date" class="form-control" id="exampleInputPassword1">
                   </div>
                   <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Age</label>
                    <input type="number" class="form-control" id="exampleInputPassword1">
                  </div>
                  <label for="gender">budget</label>

                  <select name="gender" id="gender">
                    <option value="male">1000-2000</option>
                    <option value="female">2000-3000</option>
                    <option value="female">3000-5000</option>
                  </select>
                  <label for="gender">select gender:</label>

                  <select name="gender" id="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                  </select>
                  <label for="gender">prefered gender:</label>

                  <select name="gender" id="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                  </select>
                  <h5>Interest</h5>
                   <div class="d-flex flex-row mb-3">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">hiking</label>
                      </div>
                      <div class="mb-3 form-check">
                         <input type="checkbox" class="form-check-input" id="exampleCheck1">
                         <label class="form-check-label" for="exampleCheck1">history</label>
                       </div>
                       <div class="mb-3 form-check">
                         <input type="checkbox" class="form-check-input" id="exampleCheck1">
                         <label class="form-check-label" for="exampleCheck1">sightseeing</label>
                       </div>
                       <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">nightlife</label>
                      </div>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">food</label>
                      </div>
                  </div>
            
                 <button type="submit" class="btn btn-primary">Submit</button>
               </form>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</body>
</html>