<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/safety.css">
    <title>Document</title>
</head>
<body>
    <div class="container1">
        Safety Precaution
    </div>
    <div class="container">
        <div class="safetycontainer">
            
            <div class="rowcontainer">
                <div class="row1">
                    <img src="../static/img10.png" alt="">
                </div>
                <div class="row2">
                    <div class="row21">
                        <h1>1.Information about vaccination and medicine</h1>
                       <h2>1. Research your destination beforehand and be aware of any potential risks or dangers.</h2>

                        <h2>2.Keep your valuables, such as passports, cash, and credit cards, in a secure location like a money belt or hotel safe.</h2>

                        <h2>3.Stay aware of your surroundings and avoid walking alone in unfamiliar or isolated areas, especially at night.</h2>
                    </div>
                </div>
            </div>
            <div class="rowcontainer">
                <div class="row1">
                    <div class="row21">
                        <h1>2.what to do in emergency</h1>
                        <h2>1. Contact local emergency services</h2>
 
                         <h2>2.Contact your embassy or consulate</h2>
 
                         <h2>3.Follow local authorities' instructions</h2>
 
                         <h2>4.Keep important documents and information on hand</h2>
                     </div>
                </div>
                <div class="row2">
                    <img src="../static/img9.jpeg" alt="">
                </div>
            </div>
            <div class="rowcontainer">
                <div class="row1">
                    <img src="../static/img11.jpeg" alt="">
                </div>
                <div class="row2">
                    <div class="row21">
                        <h1>3.Protect your money</h1>
                        <h2>1. Keep your money and valuables in a secure location like a money belt or hotel safe.</h2>
 
                         <h2>2.Carry only the amount of cash you need for the day and avoid carrying large sums of money.</h2>
 
                         <h2>3.Use credit or debit cards for purchases whenever possible, and avoid using ATMs in isolated or poorly lit areas.</h2>
 
                     </div>
                </div>
            </div>
            <div class="rowcontainer">
                <div class="row1">
                    <div class="row21">
                        <h1>4.Travelling insurance</h1>
                        <h2>1.Travel insurance can protect you in case of unexpected medical emergencies or accidents</h2>
 
                         <h2>2.It can also provide coverage for trip cancellations or interruptions due to unforeseen circumstances.</h2>
 
                         <h2>3.Some travel insurance policies offer coverage for lost or stolen baggage or personal belongings.</h2>
 
                     </div>
                </div>
                <div class="row2">
                    <img src="../static/img12.jpeg" alt="">
                </div>
            </div>
            <div class="rowcontainer">
                <div class="row1">
                    <img src="../static/img13.jpeg" alt="">
                </div>
                <div class="row2">
                    <div class="row21">
                        <h1>5.Safe drinking water and food</h1>
                        <h2>1. Drink only bottled or filtered water, and avoid tap water or ice made from tap water.</h2>
 
                         <h2>2.Eat only thoroughly cooked foods, and avoid raw or undercooked meats, seafood, or eggs.</h2>
 
                         <h2>3.Avoid buying food from street vendors or other unlicensed food establishments.</h2>
 
                     </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        @voyage footer
    </div>
</body>
</html>